  body{
    display: flex;
    background-color: darkgrey;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.main-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto auto auto;
    grid-template-columns: 50% 50%;
    height: 100%;
    width: 90%;
    background-color: darkgray;
}
.frame1{
    display: grid;
    text-align: center;   
    width: 80%; 
    height: 100%;
    margin:1rem 1rem;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
}
.frame2{
    display: grid;
    text-align: center;
    width: 60%;
    height: 100%;
    margin: 1rem 2rem;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
}
.frame1row{
    height: 2rem;
    padding: 0.2rem;
}
.frame2row{
    height: 1rem;
    padding: 0.35rem;
}
.chooseUser{
    line-height: 3rem;
    font-size: 1.5rem;
}
.userNameInput{
    border-radius: 1rem;
    border-style: dotted;
}

.playingButton{
    border-radius: 1rem;
    background-color: black;
    color: white;
}
.playingButton:hover{
    background-color: grey;
    transform: scale(1.05);
}

.userScores{
    line-height: 3rem;
    font-size: 1.2rem;
}
.name{
    font-size: 1.1rem;
    padding-left: 25%;
    text-align:start;
}
.currentStatus{
    font-style: italic;
}

/* media media media media media media media media media media media */

@media (min-width: 1050px){
.main-container{
    flex-flow: row;
    margin: 7% auto;
}
.frame1,
.frame2 {
    height: 35rem;
}
.chooseUser{
    font-size: 4rem;
}
.userScores{
    font-size: 3.5rem;
}
.userName{
    font-size: 3rem;
}
.userNameInput{
    font-size: 2rem;
}
.playingButton{
    font-size: 3rem;
}
.name{
    font-size: 2rem;
}
.currentStatus{
    font-size: 1.5rem;
}




}

/* media query main-container no flexflow column */
